In [ ]:
%pylab
%matplotlib inline 
import pandas

plot(arange(10))
#Shift + Enter

In [ ]:
from pandas import Series, DataFrame
import pandas as pd 

#멀티캠퍼스 주가
multicampus = Series([100,200,300,400,500])
type(multicampus)

In [ ]:
multicampus = Series([100,200,300,400,500], 
    index=["21-11-10","21-11-11","21-11-12","21-11-13","21-11-14"])

multicampus

In [ ]:
#2차원 행열 데이터
data = {"foreigner":[1,2,3,4,5,6], 
        "sratio":[10,20,30,40,50,60],
        "org":[100,200,300,400,500,600],
        "sprice":[1,2,3,4,5,6],
        "private":[10,20,30,40,50,60]
        }
type(data)

In [ ]:
#2차원 행열 데이터
data = {"foreigner":[1,2,3,4,5,6], 
        "sratio":[10,20,30,40,50,60],
        "org":[100,200,300,400,500,600],
        "sprice":[1,2,3,4,5,6],
        "private":[10,20,30,40,50,60]
        }
frame1 = DataFrame(data,
    columns=["private", "org", "foreigner", "sratio", "sprice"])
type(frame1)

In [ ]:
#2차원 행열 데이터
data = {"foreigner":[1,2,3,4,5,6], 
        "sratio":[10,20,30,40,50,60],
        "org":[100,200,300,400,500,600],
        "sprice":[1,2,3,4,5,6],
        "private":[10,20,30,40,50,60]
        }
frame2 = DataFrame(data,
    columns=["private", "org", "foreigner", "sratio", "sprice"],
    index=["21-11-10","21-11-11","21-11-12","21-11-13","21-11-14","21-11-15"])
frame2

In [ ]:
frame2["org"]

In [ ]:
frame2.loc["21-11-11"]

In [ ]:
frame2.T

In [ ]:
!type D:\교육\교육Git\파이썬핵심_멀티캠퍼스\ex1.csv

In [ ]:
df1 = pd.read_csv(r"D:\교육\교육Git\파이썬핵심_멀티캠퍼스\ex1.csv")
df1

In [ ]:
!type D:\교육\교육Git\파이썬핵심_멀티캠퍼스\ex2.csv

In [ ]:
df2 = pd.read_csv(r"D:\교육\교육Git\파이썬핵심_멀티캠퍼스\ex2.csv",
    names=["id", "name","price","desc"])
df2

In [ ]:
!type D:\교육\교육Git\파이썬핵심_멀티캠퍼스\ex3.txt

In [ ]:
# 정규표현식은 re 처럼 쓸 수 있으나 import 를 쓰지 않으면 함수는 불가능
df3 = pd.read_table(r"D:\교육\교육Git\파이썬핵심_멀티캠퍼스\ex3.txt", sep='\s+')
df3

In [ ]:
# %pylab
# %matplotlib inline

#엑셀 파일 읽기
dfExcel = pd.read_excel(r"D:\교육\교육Git\파이썬핵심_멀티캠퍼스\Demo.xlsx", "Sheet1")
# dfExcel
# 차트 그리기
# 비어 있는 그림판
fig = plt.figure()
# 그림판에 차트 추가(1행, 1열, 1차트)
ax = fig.add_subplot(1,1,1)
# 수직 막대 그래프로 나이컬럼 7개 그룹으로 묶어서 그리기
ax.hist(dfExcel["나이"], bins=7)

In [ ]:
#2개의 데이터를 비교해서 병합하는 경우(조각 데이터 )
df1 = DataFrame({"key":["b","b","a","c","a","a","b"],
                 "data1":range(7)
                })

#df1 

df2 = DataFrame({"key":["a","b","d"],
                 "data2":range(3)
                })

df2

In [ ]:
#병합하기
pd.merge(df1, df2, on="key")

In [ ]:
#2개의 데이터를 비교해서 병합하는 경우(조각 데이터 )
df3 = DataFrame({"lkey":["b","b","a","c","a","a","b"],
                 "data1":range(7)
                })

#df1 

df4 = DataFrame({"rkey":["a","b","d"],
                 "data2":range(3)
                })

df4

In [ ]:
pd.merge(df3, df4, left_on="lkey", right_on="rkey")

In [ ]:
s1 = Series([1,2])
s2 = Series([100,200,300])
pd.concat([s1,s2])

In [ ]:
#차트
import numpy as np

t= np.arange(0,12,0.01)
y= np.sin(t)
plt.figure(figsize=(10,6))
plt.plot(t,y)
#꾸미기
plt.grid()
plt.ylabel("sine wave")
plt.xlabel("time")
plt.title("데모차트")